In [2]:

import pandas as pd

In [7]:
import ibm_db
import ibm_db_dbi

In [8]:
dsn = "DRIVER={{IBM DB2 ODBC DRIVER}};" + \
      "DATABASE=BLUDB;" + \
      "HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;" + \
      "PORT=50000;" + \
      "PROTOCOL=TCPIP;" + \
      "UID=qnl98802;" + \
      "PWD=rzz7g@cmttqsmdqt;"

In [9]:
try:
    conn  = ibm_db.connect(dsn, "", "")
    print("connected")
except:
    print("error")

connected

In [12]:
coni = ibm_db_dbi.Connection(conn)

In [13]:
sql = 'select count(*) from crimes'

In [16]:
df = pd.read_sql(sql,coni)
df

       1
0  533.0

In [17]:
sql='select * from crimes LIMIT 10'
df = pd.read_sql(sql,coni)
df

,ID,CASE_NUMBER,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,FALSE,FALSE,911,9,14,58,6,1155838,1873050,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,FALSE,FALSE,1112,11,27,23,6,1152206,1906127,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,FALSE,FALSE,221,2,3,38,6,1177436,1876313,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,FALSE,FALSE,423,4,7,46,6,1194622,1850125,2010,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,FALSE,FALSE,831,8,15,66,6,1155240,1860661,2016,41.773455,-87.706480,"(41.773455295, -87.706480471)"
5,7732712,HS540106,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT/GARAGE(NON.RESID.),FALSE,FALSE,1323,12,27,24,6,1171668,1905607,2010,41.896447,-87.644939,"(41.896446772, -87.644938678)"
6,10769475,HZ534771,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,1713,17,33,14,6,1154133,1933314,2016,41.972845,-87.708600,"(41.972844913, -87.708600079)"
7,4494340,HL793243,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,TRUE,FALSE,213,2,3,38,6,1180448,1879234,2005,41.823880,-87.613504,"(41.823879885, -87.613503857)"
8,3778925,HL149610,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,2211,22,19,72,6,1160129,1838040,2005,41.711281,-87.689179,"(41.711280513, -87.689179097)"
9,3324217,HK361551,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,FALSE,FALSE,1733,17,35,21,6,1153590,1921084,2004,41.939296,-87.710923,"(41.939295821, -87.710923442)"

In [18]:
sql='select  count(*) from crimes where ARREST=TRUE'
df = pd.read_sql(sql,coni)
df

       1
0  163.0

In [21]:
sql="select  DISTINCT  PRIMARY_TYPE from crimes where LOCATION_DESCRIPTION= 'GAS STATION'"
df = pd.read_sql(sql,coni)
df

        PRIMARY_TYPE
0  CRIMINAL TRESPASS
1          NARCOTICS
2            ROBBERY
3              THEFT

In [22]:
sql="select * from census where COMMUNITY_AREA_NAME LIKE 'B%'"
df = pd.read_sql(sql,coni)
df

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,19,Belmont Cragin,10.8,18.7,14.6,37.3,37.3,15461,70
1,47,Burnside,6.8,33.0,18.6,19.3,42.7,12515,79
2,58,Brighton Park,14.4,23.6,13.9,45.1,39.3,13089,84
3,60,Bridgeport,4.5,18.9,13.7,22.2,31.3,22694,43
4,72,Beverly,0.9,5.1,8.0,3.7,40.5,39523,12

In [24]:
sql="select NAME_OF_SCHOOL from school where  HEALTHY_SCHOOL_CERTIFIED='Yes' and (COMMUNITY_AREA_NUMBER>=10 and COMMUNITY_AREA_NUMBER<15)"
df = pd.read_sql(sql,coni)
df

                    NAME_OF_SCHOOL
0  Rufus M Hitch Elementary School

In [25]:
sql="select  AVG(SAFETY_SCORE) from school"
df = pd.read_sql(sql,coni)
df

           1
0  49.504873

In [26]:
sql="select AVG(COLLEGE_ENROLLMENT) from school"
df = pd.read_sql(sql,coni)
df

            1
0  626.053003

In [27]:
sql="select COMMUNITY_AREA_NAME, COLLEGE_ENROLLMENT from school where COLLEGE_ENROLLMENT >626 order by COLLEGE_ENROLLMENT"
df = pd.read_sql(sql,coni)
df

    COMMUNITY_AREA_NAME  COLLEGE_ENROLLMENT
0        SOUTH LAWNDALE                 631
1         MCKINLEY PARK                 631
2             EAST SIDE                 632
3             HEGEWISCH                 633
4             WEST TOWN                 633
5        BELMONT CRAGIN                 634
6       LOWER WEST SIDE                 636
7           IRVING PARK                 638
8              AVONDALE                 644
9            WEST RIDGE                 646
10         NORWOOD PARK                 648
11          EDISON PARK                 650
12          IRVING PARK                 650
13              CHATHAM                 652
14       SOUTH LAWNDALE                 654
15            HYDE PARK                 654
16      LOWER WEST SIDE                 656
17              ASHBURN                 658
18               AUSTIN                 658
19           WEST RIDGE                 659
20        ARMOUR SQUARE                 664
21         NORTH CENTER                 668
22            WEST TOWN                 669
23         PORTAGE PARK                 672
24          IRVING PARK                 672
25             NEW CITY                 679
26        HUMBOLDT PARK                 686
27         NORWOOD PARK                 687
28             ROSELAND                 688
29          IRVING PARK                 688
..                  ...                 ...
175           LAKE VIEW                1500
176      ARCHER HEIGHTS                1503
177          WEST RIDGE                1509
178            WOODLAWN                1518
179      BELMONT CRAGIN                1520
180           EAST SIDE                1524
181      LINCOLN SQUARE                1532
182             CHATHAM                1535
183         WEST ELSDON                1560
184         MORGAN PARK                1584
185      GARFIELD RIDGE                1589
186          NORTH PARK                1636
187              UPTOWN                1651
188             ASHBURN                1656
189          WEST RIDGE                1657
190           WEST LAWN                1672
191     LOWER WEST SIDE                1683
192        PORTAGE PARK                1716
193        CHICAGO LAWN                1777
194       BRIGHTON PARK                1834
195           GAGE PARK                1846
196             KENWOOD                1852
197      BELMONT CRAGIN                1890
198      NEAR WEST SIDE                2166
199        LINCOLN PARK                2342
200         IRVING PARK                2366
201       BRIGHTON PARK                2883
202        NORWOOD PARK                2922
203      ARCHER HEIGHTS                3320
204        NORTH CENTER                4368

[205 rows x 2 columns]

In [28]:
sql="select COMMUNITY_AREA_NAME,SAFETY_SCORE from school order by SAFETY_SCORE"
df = pd.read_sql(sql,coni)
df

        COMMUNITY_AREA_NAME  SAFETY_SCORE
0           WASHINGTON PARK           1.0
1            WEST ENGLEWOOD           5.0
2        WEST GARFIELD PARK           6.0
3            AUBURN GRESHAM          11.0
4    GREATER GRAND CROSSING          13.0
5                  WOODLAWN          13.0
6           WASHINGTON PARK          13.0
7                  ROSELAND          14.0
8                 GAGE PARK          14.0
9            WEST ENGLEWOOD          15.0
10             CHICAGO LAWN          15.0
11                 ROSELAND          15.0
12           WEST ENGLEWOOD          16.0
13             LOGAN SQUARE          16.0
14              SOUTH SHORE          17.0
15            SOUTH CHICAGO          17.0
16             WEST PULLMAN          17.0
17            SOUTH DEERING          18.0
18                ENGLEWOOD          18.0
19                 ROSELAND          19.0
20                 WOODLAWN          19.0
21            SOUTH DEERING          19.0
22   GREATER GRAND CROSSING          20.0
23                  KENWOOD          20.0
24                  ASHBURN          20.0
25                   AUSTIN          21.0
26                ENGLEWOOD          21.0
27            SOUTH CHICAGO          22.0
28                 NEW CITY          22.0
29          GRAND BOULEVARD          22.0
..                      ...           ...
536          AUBURN GRESHAM           NaN
537          SOUTH LAWNDALE           NaN
538             ROGERS PARK           NaN
539           HUMBOLDT PARK           NaN
540          NORTH LAWNDALE           NaN
541          SOUTH LAWNDALE           NaN
542            LINCOLN PARK           NaN
543         CALUMET HEIGHTS           NaN
544                  AUSTIN           NaN
545           MCKINLEY PARK           NaN
546             ROGERS PARK           NaN
547           HUMBOLDT PARK           NaN
548           HUMBOLDT PARK           NaN
549             SOUTH SHORE           NaN
550         LOWER WEST SIDE           NaN
551            WEST PULLMAN           NaN
552                 HERMOSA           NaN
553         NEAR NORTH SIDE           NaN
554               GAGE PARK           NaN
555             SOUTH SHORE           NaN
556          WEST ENGLEWOOD           NaN
557          NEAR WEST SIDE           NaN
558            WEST PULLMAN           NaN
559           MCKINLEY PARK           NaN
560                  UPTOWN           NaN
561               GAGE PARK           NaN
562                 DOUGLAS           NaN
563         NEAR NORTH SIDE           NaN
564             ALBANY PARK           NaN
565                 DOUGLAS           NaN

[566 rows x 2 columns]